<%= form_for(@question) do |f| %>
    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :question %><br>
      <%= f.text_field :question %> <br>

      <table>
        <tr>
          <td>
            <%= f.label :answer1 %><br>
            <%= f.text_field :answers1, :value => " " %>
            <input type="radio" name="Antwort" value="true"><br></td>
          <td>
            <%= f.label :answer2 %><br>
            <%= f.text_field :answers2, :value => " " %>
            <input type="radio" name="Antwort" value="true"><br></td>
        <tr>
          <td>
            <%= f.label :answer3 %><br>
            <%= f.text_field :answers2, :value => " " %>
            <input type="radio" name="Antwort" value="true"><br></td>
          <td>
            <%= f.label :answer4 %><br>
            <%= f.text_field :answers2, :value => " " %>
            <input type="radio" name="Antwort" value="true"><br></td>
        </tr>
      </table>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
