<%= form_for(@question) do |f| %>
    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :question %><br>
      <%= f.text_field :question, :value => @question_text, class: "form-control" %> <br>

      <%= f.label :please_insert_the_answers_and_select_the_correct_one %>
       <!-- TODO do it with divs and space between the answers -->
      <table style="width: 100%" >
        <tr>
          <td><%= f.text_field :answers1, :value => @answerValue1, class: "form-control" %></td>
          <td><%= f.radio_button :correctMethod, :correct1, :checked => @correctValue1 %></td>
          <td><%= f.text_field :answers2, :value => @answerValue2, class: "form-control" %></td>
          <td><%= f.radio_button :correctMethod, :correct2, :checked => @correctValue2 %></td>
        </tr>
        <tr>
          <td><%= f.text_field :answers3, :value => @answerValue3, class: "form-control" %></td>
          <td><%= f.radio_button :correctMethod, :correct3, :checked => @correctValue3 %></td>
          <td><%= f.text_field :answers4, :value => @answerValue4, class: "form-control" %></td>
          <td><%= f.radio_button :correctMethod, :correct4, :checked => @correctValue4 %></td>
        </tr>
      </table><br>
      <%= f.label :categories %><br>
      <%= f.collection_select :id, @categories, :id, :name, { selected: @categories_ids }, {class: "form-control", multiple: "true" } %>
    </div>
    <div class="actions align-right">
      <%= f.submit "Save and new question", class: "btn btn-success" %>
      <%= f.submit :Save, class: "btn btn-primary" %>
    </div>
<% end %>
