<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Question overview
      <% if @filterParams != nil %>
          (filtered by "<%= @filterParams %>")
      <% end %></h4>
  </div>
  <div class="panel-body">

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
            <td width="250"><%= link_to 'Show', question, class: 'btn btn-default' %>
         <% if current_user.has_role?(question.id) || current_user.has_role?(:admin) %>
            <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-default' %>
            <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

    <%= search_form_for @search do |f| %>
        <div class="field">
          <%= f.label :question, "Question" %>
          <%= f.text_field :question %>
          <%= f.submit "Search", class: "btn btn-success"  %>

          <% if @filterParams != nil %>
              <%= link_to "Deactivate", questions_path, class: 'btn btn-danger' %>
          <% end %>
        </div>
    <% end %>

     <% if @ownCategories != nil %>
        <div id="overlay" >
          <div id="overlay_inner" class="panel panel-default">
            <div class="panel-heading">
                <h4 style="text-align:center">Conntected categories</h4>
            </div>
            <div class="panel-body">
            <% @ownCategories.each do |cat| %>
                <div  class="one_category">
                    <div class="float_left" id="<%= cat.id %>"><%= cat.name %></div>
                    <%= link_to 'Delete', questions_delete_connection_path(:cat=>cat.id, :quest=>@question_id), class: 'btn btn-danger float_left' %>
                </div>
            <% end %>
            </div>
            </div>
        </div>
    <% end %>

<br>

<%= link_to 'New Question', new_question_path, class: 'btn btn-primary align-right' %>
  </div>
</div>
