<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Question overview</h4>
  </div>
  <div class="panel-body">

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
            <td width="250"><%= link_to 'Show', question, class: 'btn btn-default' %>
         <% if current_user.has_role?(question.id.to_s + "_full") || current_user.has_role?(:admin) %>
            <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-default' %>
         <% end %>
         <% if current_user.has_role?(question.id) || current_user.has_role?(:admin) %>
            <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, class: 'btn btn-primary align-right' %>
  </div>
</div>
