<div class="panel panel-default">
  <div class="panel-heading">
    <h4 style="display: inline;"><%= @question.question %></h4>
  </div>
  <div class="panel-body">

    <strong>Answers:</strong>
      <% index = 1 %>
      <% @question.answers.each do |ans| %>
        <!-- todo do it with css (also see quiz_rounds index) -->
        <div <% if ans.correctAnswer %>
             style="background-color: #00CD00;"
            <% end %>>
        <%= index %>. <%= ans.answer %>
        <% index = index + 1 %>
        </div>
      <% end %><br><p>
    <strong>Categories of Question:</strong> <br>
    <% index = 1
       @question.categories.all.each do |cat| %>
        <%= index %>.  <%= link_to cat.name, cat%> <br>
        <% index = index + 1
       end %>
    <div class="align-right">
        <%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
    </div>
  </div>
</div>
<%= link_to 'Back', questions_path %>