<%= form_for(@category) do |f| %>
    <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
            <% @category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, class: "form-control" %>
      <br>
      <%= f.label :subject %>
      <br>
           <%= f.collection_select :parent_id, @categories, :id, :name, {selected: @category.parent_id, :include_blank => true}, class: "form-control" %>

          <br>
      <strong>Owner: </strong> <%= @owner.email %>
      <br><br>
      <%= f.label :selected_questions %><br>
      Double-click to show question in detail
      <%= f.collection_select :questions, @category.questions, :id, :question, {}, { multiple: true, class: "form-control"  }%>

      <br>
      <div align="center">
         <button id="btn_select" class="btn btn-success">Select</button>
         <button id="btn_deselect" class="btn btn-warning">Deselect</button>
         <%= link_to 'New Question', new_question_path(:category_id=>@category.id), class: 'btn btn-primary' %>
      </div>
      <br>
      <%= f.label :other_questions %><br>
      Double-click to show question in detail
      <select class="form-control" id="unused_questions" multiple="multiple">
      <optgroup value="category" label="Questions without Category"/>
      <% @questions.each do |quest|
            if quest.categories.empty? %>
              <option value="<%= quest.id %>"><%= quest.question  %></option>
            <% end
         end
         @categories.each do |cat| %>
           <% if !cat.questions.empty? && cat.id != @category.id %>
             <optgroup value="category" label="Questions of Category: <%= cat.name %>"/>
             <% cat.questions.all.each do |quest| %>
                <option value="<%= quest.id %>"><%= quest.question  %></option>
             <%
                end
           end
          end
       %>
       </select>
<br><br>
      <div><h4>Determine access rights</h4></div>
    <div>
        <div class="selectbox">
            <label>Full access User</label><br>
          Create, Read, Update<br>
            <%= f.collection_select :id, @usersWithFullAccess, :id, :email, {}, { id: "list_with_full_access", multiple: true, name: "list_with_full_access[id][]"} %>
            <div class="move_button_container">
                <div class="move_button_container_inside">
                  <button id="to_list_with_full_access" class="move_button"><<</button>
                    <button id="from_list_with_full_access" class="move_button">>></button>
                  </div>
            </div>

        </div>
        <div class="selectbox">
          <label>Limited access User</label><br>
          Read<br>
            <%= f.collection_select :id, @usersWithSeeAccess, :id, :email, {}, { id: "list_with_access_to_show", multiple: true, name: "list_with_access_to_show[id][]"} %>
          <div class="move_button_container">
            <div class="move_button_container_inside">
                <button id="from_list_without_access" class="move_button"><<</button>
                <button id="to_list_without_access" class="move_button">>></button>
            </div>
          </div>
        </div>


        <div class="selectbox">
          <label>List of all members<br></label>
          <br><br>
            <%= f.collection_select :id, @usersWithoutRole, :id, :email, {}, { id: "list_without_access", multiple: true, name: "list_without_access"} %>
        </div>
    </div>
    </div>
    <div class="actions">
      <%= f.submit :Save, {class: "btn btn-primary align-right", id: "btn_submit" } %>
    </div>
<% end %>
