<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Category overview
    <% if @filterParams != nil %>
      (filtered by "<%= @filterParams %>")
    <% end %>
    </h4>
  </div>
  <div class="panel-body">

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Subject</th>
      <th>Counter questions</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= parent = @categories.detect{|c| c.id == category.parent_id}
            if category.parent_id != nil && parent != nil
              link_to parent.name, category_path(parent)
            end %></td>
        <td style="text-align: center;"><%= category.questions.count %></td>
        <td width="300"><%= link_to 'Show', category, class: 'btn btn-default fa fa-eye' %>
          <% if current_user.has_role?(category.name + category.id.to_s ) || current_user.has_role?(category.name + category.id.to_s + "_full") || current_user.has_role?(:admin) %>
            <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-default fa fa-pencil' %>
          <% end %>
          <% if current_user.has_role?(category.name + category.id.to_s ) || current_user.has_role?(:admin) %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default fa fa-trash-o' %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

    <div class="field">
        <%= search_form_for @search do |f| %>
          <%= f.label :name, "Name" %>
          <%= f.text_field :name %>
          <%= f.submit "Search", class: "btn btn-success "  %>

          <% if @filterParams != nil %>
              <%= link_to "Deactivate", categories_path, class: 'btn btn-danger' %>
          <% end %>
        <% end %>
    </div>
<%= link_to 'New Category', new_category_path, class: 'btn btn-primary align-right' %>
  </div>
</div>