<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Category overview</h4>
  </div>
  <div class="panel-body">

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Subject</th>
      <th>Counter questions</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= parent = @categories.detect{|c| c.id == category.parent_id}
            if category.parent_id != nil && parent != nil
              link_to parent.name, category_path(parent)
            end %></td>
        <td style="text-align: center;"><%= category.questions.count %></td>
        <td width="250"><%= link_to 'Show', category, class: 'btn btn-default' %>
          <% if current_user.has_role?(category.name + category.id.to_s ) || current_user.has_role?(category.name + category.id.to_s + "_full") || current_user.has_role?(:admin) %>
            <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-default' %>
          <% end %>
          <% if current_user.has_role?(category.name + category.id.to_s ) || current_user.has_role?(:admin) %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, class: 'btn btn-primary align-right' %>
  </div>
</div>