<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Choose a category and start your quiz!</h4>
  </div>
  <div class="panel-body">

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Parent</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= parent = @categories.where(:id => category.parent_id).first
            if category.parent_id != nil && parent != nil
              parent.name
            end %></td>
        <td><%= link_to 'Show', category, class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-default' %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
            <%= link_to 'Start new Quiz', quiz_round_new_path(:category => category), class: 'btn btn-default' %>
            <%= link_to 'Resume Quiz', quiz_round_path(:category => category), class: 'btn btn-default' %>
            <%= link_to 'Start Quiz (false)', quiz_round_false_round_path(:category => category), class: 'btn btn-default' %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, class: 'btn btn-primary align-right' %>
  </div>
</div>