<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 style="display: inline;">Category: <%= @category.name %></h4>
  </div>
  <div class="panel-body"><strong>Parent:</strong>
    <% parent = @categories.where(:id => @category.parent_id).first
        if @category.parent_id != nil && parent != nil %>
        [<%= @category.parent_id %>]
        <%= link_to parent.name, parent %>
        <% end %>
    <p><br>
    <strong>Questions of Category:</strong> <br>
    <% index = 1
       @category.questions.all.each do |quest| %>
         <%= index %>.  <%= link_to quest.question, quest%> <br>
         <% index = index + 1
       end %>
        <div class="align-right">
           <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-primary" %>
           <%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
        </div>
      </div>
</div>



<%= link_to 'Back', :back %>
