<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 style="display: inline;">Category:</h4> <%= @category.name %>
  </div>
  <div class="panel-body"><strong>Parent:</strong>
   [<%= @category.parent_id %>]
    <%= if @category.parent_id != nil
          Category.all.find(@category.parent_id).name
        end %>
    <br>
    <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-primary align-right" %>
  </div>
</div>



<%= link_to 'Back', categories_path %>
